html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}

.select-floor-container{
    position: absolute;
    right : 0;
    top : 0;
    background: rgba(0,0,0,0.3);
    padding: 0 1rem;
}

.select-floor{
    border: 1px solid white;
    padding: 0.3rem 0.6rem;
    margin: 1rem 0;
    border-radius: 0.2rem;
}

.select-floor span{
    color : white;
}

.select-floor:hover{
    background: white;
    transition: .7s;
    cursor: pointer;
}

.select-floor:hover span{
    color : black;
    transition: .7s;
}